@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&family=Rowdies:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif&family=Rowdies:wght@300;400;700&display=swap");
body {
  /* Submit */

  position: relative;
  width: 1920px;
  height: 1080px;

  /* Primary BG */

  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}
#submit-button {
  /* Rectangle 11 */

  position: absolute;
  width: 395px;
  height: 79px;
  left: 758px;
  top: 458px;

  background: #fe3b1f;
  border-radius: 50px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
#go-back {
  /* go back */

  position: absolute;
  width: 190px;
  height: 50px;
  left: 861px;
  top: 550px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;

  color: #ffffff;
}
