@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif&family=Rowdies:wght@300;400;700&display=swap');
body {
    background-image: url("../SVG/stars\ \(1\).svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
}
#welcome-msg{
    color: white;
    position: absolute;
    left: 50%;
    top: 175px;
    transform: translate(-50%, 0);
    font-family: Rowdies;
    font-size: 64px;
    
    /* Redberry Red */
    color: #FE3B1F;

}
